#cash-sales-exepnses {
    margin: 50px
}

.sales {
    display: inline;
    border-radius: 20px;
    background-color: #F2E3A6;
    padding-right: 20px;
    padding-bottom: 3px;
    position: relative;
    text-align: center;
}

#cash-sales {
    background-color: white;
    border-radius: 10px;
}

.expenses {
    display: inline-block;
    border-radius: 20px;
    background-color: #B8CCCC;
    padding-bottom: 3px;
    text-align: center;
}

#total-expenses {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
}

#profit {
    background-color: #D5E000;
    text-align: center;
    position: relative;
    border-radius: 15px;
    margin: auto;
    width: 400px;
}

#total-credit {
    background-color: #EFD6AC;
    text-align: center;
    position: relative;
    border-radius: 15px;
    margin: auto;
    width: 400px;
}

#total-sales {
    background-color: #FFD166;
    text-align: center;
    position: relative;
    border-radius: 15px;
    margin: auto;
    width: 400px;
}